body {
    font-size: 20px;
    margin: 120px 300px 120px 300px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 50px;
}

/* --------------------------HEADER------------------------------- */
.headertipe1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* ------------------------LATAR BELAKANG------------------------ */
.latarHitam{
    background-color: black;
}
.latarKrem{
    background-color: bisque;
}
.latarTosca{
    background-color: rgb(92, 162, 163);
}

/* ------------------------ALIGN TEKS------------------------------ */
.alignTengah{
    text-align: center;
}

/* -------------------------WARNA FONT---------------------------- */
.fontPutih{
    color: white;
}