body {
    font-size: 20px;
    margin: 120px 300px 120px 300px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 50px;
}
h2{
    font-size: 35x;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    padding: 30px;
    border-style: solid;
    border-width: 2px;
    
}



/* --------------------------JENIS FONT------------------------- */
.fontRaleway {
    font-family: 'Raleway', sans-serif;
}
.fontUbuntu {
    font-family: 'Ubuntu', sans-serif;
}
.fontBersambung{
    font-family: 'Smooch', cursive;
}
.fontZenloop{
    font-family: 'Zen Loop', cursive;
}
.fontPoppins{
    font-family: 'Poppins', sans-serif;
}
.fontNotoSans{
    font-family: 'Noto Sans', sans-serif;
}
.fontSerif{
    font-family: 'PT Serif', serif;
}


/* --------------------------HEADER------------------------------- */
.headertipe1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* ------------------------LATAR BELAKANG------------------------ */
.latarHitam{
    background-color: black;
}
.latarKrem{
    background-color: bisque;
}
.latarTosca{
    background-color: rgb(92, 162, 163);
}
.latarPinky{
    background-color: rgb(225, 181, 199);
}
.latarSalmon{
    background-color: rgb(204, 161, 147);
}
.latarKuning{
    background-color: rgb(255, 227, 169);
}
.latarPeach{
    background-color: rgb(255, 195, 195);
}
.latarBeige{
    background-color: rgb(250, 240, 215);
}
.latarCoksu{
    background-color: rgb(219, 208, 192);
}



/* ------------------------ALIGN TEKS------------------------------ */
.alignTengah{
    text-align: center;
}
.alignKiri{
    text-align: left;
}

/* -------------------------WARNA FONT---------------------------- */
.fontPutih{
    color: white;
}


footer {
    font-size: 15px;
}