.latarPinky{
    background-color: rgb(225, 181, 199);
}
video{
    padding-left: 70px;
    position: absolute;
}
p{
    position: absolute;
    font-size: 22px;
    margin: 100px 250px 0 460px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer {
    font-size: 10px;
    position: absolute;
    margin: 600px 250px 0 460px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 150px;
}
.miring{
    font-style: italic;
}