.latarPinky{
    background-color: rgb(225, 181, 199);
}
video{
    padding-left: 70px;
    position: absolute;
}
.isi{
    position: absolute;
    font-size: 13px;
    margin: 0px 70px 0 460px;
    padding-bottom: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer {
    font-size: 10px;
    position: absolute;
    margin: 600px 250px 0 460px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 150px;
}
.miring{
    font-style: italic;
}
.latarKuning{
    background-color: rgb(255, 227, 169);
}
.bold {
    font-weight: bold;
}